---
import type { InferGetStaticParamsType } from 'astro';

import PortableText from '@/components/content/PortableText.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getNewsArticle, getNewsArticles } from '@/lib/sanity/queries/news';

export async function getStaticPaths() {
	const articles = await getNewsArticles();
	return articles.map(article => ({
		params: { slug: article.slug.current },
	}));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const article = await getNewsArticle(slug);
---

<BaseLayout description="TODO" title={`${article.title} | TSG Irlich seit 1882`}>
	<h1>{article.title}</h1>

	<p>Excerpt: {article.excerpt}</p>

	<PortableText portableText={article.body} />
</BaseLayout>
