# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Jetbrains setting folder
.idea/

# Logs
/logs
*.log

# Misc
.DS_Store
*.pem

# Testing
coverage/

# Vercel
.turbo

# Temporary
/__web
