# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Build Outputs
.next/
.sanity/
build/
dist/
out/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Jetbrains setting folder
.idea/

# Local env files
.env*
!.env*.example

# Logs
/logs
*.log

# Misc
.DS_Store
*.pem

# Testing
coverage/

# Typescript
*.tsbuildinfo
next-env.d.ts

# Vercel
.turbo
.vercel
