---
import type { Image as SanityImage } from '@sanity/types';
import { Image } from 'astro:assets';
import { Quote } from 'lucide-astro';

import { urlFor } from '@/lib/sanity/image-url';

interface Props {
	firstName: string;
	image: SanityImage;
	isHighlighted?: boolean;
	lastName: string;
	quote: string;
	role: string;
	showAlways: boolean;
}

const { firstName, image, isHighlighted = false, lastName, quote, role } = Astro.props;
---

<div
	class:list={[
		'relative flex flex-col gap-4',
		{ 'bg-brand my-6 -ml-36 -mr-14 rounded-xl py-6 pl-14 pr-36 text-white': isHighlighted },
	]}
>
	<div class="flex items-center gap-5">
		<Image
			class:list={[
				'rounded-full border-4',
				{ 'border-brand': !isHighlighted },
				{ 'border-white': isHighlighted },
			]}
			alt={image.alt as string}
			height={96}
			src={urlFor(image, 96).url()}
			width={96}
		/>

		<div class="flex flex-col gap-1">
			<span class="font-serif text-3xl font-bold">{firstName} {lastName}</span>
			<span class="text-gray-dark text-xl">{role}</span>
		</div>
	</div>

	<p
		class:list={['text-xl', { 'text-gray/80': !isHighlighted }, { 'text-white/80': isHighlighted }]}
	>
		{quote}
	</p>

	{
		isHighlighted && (
			<div class="absolute bottom-6 right-12">
				<Quote size="56" stroke-width="1" />
			</div>
		)
	}
</div>
