@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
	--radius: 0.5rem;
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--color-accent: oklch(0.97 0 0);
	--color-accent-foreground: oklch(0.20 0 0);

	--color-background: oklch(1 0 0);
	--color-background-high-contrast: oklch(0.91 0 286);
	--color-background-low-contrast: oklch(0.96 0 271);

	--color-black: oklch(0 0 0);
	--color-white: oklch(1 0 0);
	--color-border: oklch(0.77 0 266);

	--color-card: oklch(1 0 0);
	--color-card-foreground: oklch(0.20 0 0);

	--color-chart-1: oklch(0.82 0.23 143);
	--color-chart-2: oklch(0.63 0.1 184);
	--color-chart-3: oklch(0.37 0 226);
	--color-chart-4: oklch(0.83 0.1 88);
	--color-chart-5: oklch(0.78 0.1 59);

	--color-destructive-foreground: oklch(0.64 0.21 25);
	--color-destructive: oklch(0.97 0.02 18);

	--color-success: oklch(0.97 0.02 146);
	--color-success-foreground: oklch(0.46 0.16 143);

	--color-foreground: oklch(0.20 0 0);
	--color-input: oklch(0.99 0 0);

	--color-muted: oklch(0.77 0.02 264);
	--color-muted-foreground: oklch(0.40 0.02 264);

	--color-popover: oklch(1 0 0);
	--color-popover-foreground: oklch(0.20 0 0);

	--color-primary-dark: oklch(0.38 0.11 276);
	--color-primary: oklch(0.33 0.09 286);
	--color-primary-foreground: oklch(0.99 0 0);
	--color-primary-light: oklch(0.50 0.17 281);

	--color-ring: oklch(0.62 0.17 273);

	--color-secondary: oklch(0.88 0.18 94);
	--color-secondary-foreground: oklch(0.20 0 0);
	--color-secondary-light: oklch(0.91 0.19 100);
	--color-secondary-dark: oklch(0.72 0.15 85);

	--font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-sans-serif: Anton, ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: Bebas Neue, ui-serif, Georgia, Cambria, 'Times New Roman',
		Times, serif;

	--breakpoint-3xl: 120rem;

	--padding-container: 1rem;
}

@utility container {
	margin-inline: auto;
	padding-inline: var(--padding-container);

	@media (width >= theme(--breakpoint-sm)) {
		--padding-container: 1.5rem;
	}

	@media (width >= theme(--breakpoint-lg)) {
		--padding-container: 2rem;
	}

	@media (width >= theme(--breakpoint-xl)) {
		--padding-container: 2.5rem;
	}

	@media (width >= theme(--breakpoint-2xl)) {
		--padding-container: 3rem;
	}

	@media (width >= theme(--breakpoint-3xl)) {
		--padding-container: 3.5rem;
	}
}

@utility no-container {
	width: initial;
	max-width: initial;
	margin-inline: initial;
	padding-inline: initial;
}

/*
	The default border color has changed to `currentColor` in Tailwind CSS v4,
	so we've added these compatibility styles to make sure everything still
	looks the same as it did with Tailwind CSS v3.

	If we ever want to remove these styles, we need to add an explicit border
	color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	*::selection {
		background-color: var(--color-secondary);
		color: var(--color-primary);
	}
}

@utility btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	white-space: nowrap;
	border-radius: 9999px;
	padding: 0.25rem;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 700;
	cursor: pointer;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;

	@media (width >= theme(--breakpoint-md)) {
		padding: 0.5rem;
		font-size: 1rem;
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	& > :first-child {
		border-radius: 9999px;
		border-width: 1px;
		padding-inline: 1rem;
		padding-block: 0.5rem;

		@media (width >= theme(--breakpoint-md)) {
			padding-inline: 2.5rem;
			padding-block: 1rem;
		}
	}
}

@utility btn--sm {
	padding: 0.1rem;

	@media (width >= theme(--breakpoint-md)) {
		padding: 0.25rem;
	}

	& > :first-child {
		padding-inline: 0.3rem;
		padding-block: 0.15rem;

		@media (width >= theme(--breakpoint-md)) {
			padding-inline: 0.5rem;
			padding-block: 0.3rem;
		}
	}
}

@utility btn--ghost {
	background-color: color-mix(in oklch, var(--color-background-low-contrast) 95%, transparent);
	border-width: 1px;

	&:hover {
		background-color: color-mix(in oklch, var(--color-background-high-contrast) 80%, transparent);
	}
}

@utility btn--link {
	color: var(--color-primary);
	text-decoration: underline;
	padding: initial;
	border-radius: initial;

	& > :first-child {
		border: initial;
		padding: initial;
	}

	&:hover {
		color: var(--color-primary-light);
	}
}

@utility btn--primary {
	background-color: var(--color-primary);
	color: var(--color-primary-foreground);

	&:hover {
		background-color: color-mix(in oklch, var(--color-primary) 90%, transparent);
	}

	& > :first-child {
		border-color: var(--color-primary-foreground);
	}
}

@utility btn--secondary {
	background-color: var(--color-secondary);
	color: var(--color-secondary-foreground);

	&:hover {
		background-color: color-mix(in oklch, var(--color-secondary) 70%, transparent);
	}

	& > :first-child {
		border-color: var(--color-secondary-foreground);
	}
}

@utility btn--unstyled {
	display: initial;
	align-items: initial;
	justify-content: initial;
	gap: initial;
	white-space: initial;
	border-radius: initial;
	padding: initial;
	text-align: initial;
	font-size: initial;
	font-weight: initial;
	transition-property: initial;
	transition-timing-function: initial;
	transition-duration: initial;

	@media (width >= theme(--breakpoint-md)) {
		padding: initial;
		font-size: initial;
	}

	&:disabled {
		pointer-events: initial;
		opacity: initial;
	}

	& > :first-child {
		border-radius: initial;
		border-width: initial;
		padding-inline: initial;
		padding-block: initial;

		@media (width >= theme(--breakpoint-md)) {
			padding-inline: initial;
			padding-block: initial;
		}
	}
}

@utility btn--width-full {
	width: 100%;

	& > :first-child {
		width: 100%;
	}
}

@utility i-btn {
	border-radius: 9999px;
	padding: 0.375rem;
}

@utility i-btn--ghost {
	background-color: color-mix(in oklch, var(--color-background-low-contrast) 95%, transparent);
	border-width: 1px;

	&:hover {
		background-color: color-mix(in oklch, var(--color-background-high-contrast) 80%, transparent);
	}
}

@utility i-btn--primary {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: var(--color-primary-foreground);

	&:hover {
		background-color: color-mix(in oklch, var(--color-primary) 90%, transparent);
	}
}

@utility i-btn--secondary {
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);

	&:hover {
		background-color: color-mix(in oklch, var(--color-secondary) 70%, transparent);
	}
}

@utility text-stroke {
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

@utility prose {
	--tw-prose-links: var(--color-primary);
	--tw-prose-quotes: var(--color-muted-foreground);
	--tw-prose-quote-borders: var(--color-secondary);

	a:hover {
		color: var(--color-primary-light);
	}

	blockquote {
		padding-inline: 1.5rem;
		padding-block: 0.5rem;
	}
}


@layer base {
	*, ::before, ::after {
		border-color: var(--color-border);
	}

	body {
		background-color: var(--color-background);
		color: var(--color-foreground);
	}
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.title,
	.subTitle {
		font-family: Anton, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		text-wrap: balance;
	}

	address {
		font-style: normal;
		text-wrap: balance;
	}

	p,
	figcaption {
		color: var(--color-muted-foreground);
		max-width: 65ch;
		hyphens: auto;
		text-wrap: pretty;
	}

	a {
		transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		html {
			scroll-behavior: smooth;
		}
	}
}

@layer components {
		textarea {
			height: 4lh;
			max-height: 12lh;
	}
}
