---
type Props = {
	subTitle: string;
};

const { subTitle } = Astro.props;
---

<div class="sub-title">{subTitle}</div>
<h1 class="title"><slot /></h1>

<style>
	.sub-title {
		@apply relative w-fit px-16 text-xl uppercase;
	}

	.sub-title::before,
	.sub-title::after {
		content: '';
		top: calc(50% - 2px);
		@apply absolute w-12 border;
	}

	.sub-title::before {
		left: 0;
	}

	.sub-title::after {
		right: 0;
	}

	.title {
		@apply mt-8 text-7xl uppercase;
	}
</style>
