---
interface Props {
	suffix?: string;
	title: string;
	value: number;
}

const { suffix = '', title, value } = Astro.props;
---

<div class="flex flex-col items-center justify-center gap-2 py-8">
	<div class="font-sans-serif text-7xl font-bold">{value}{suffix}</div>
	<h2 class="text-xl text-gray-500">{title}</h2>
</div>
