.subTitle {
	position: relative;
	width: fit-content;
	padding-inline: 4rem;
	font-size: 0.625rem;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.subTitle {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
}

.subTitle::before,
.subTitle::after {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	width: 3rem;
	border-width: 1px;
}

.subTitle::before {
	left: 0;
}

.subTitle::after {
	right: 0;
}

.title {
	margin-top: 1rem;
	font-size: 2rem;
  line-height: 1;
}

@media (min-width: 768px) {
	.title {
		font-size: 4.5rem;
	}
}
