---
import { Mail, MessagesSquare, UserRound } from 'lucide-astro';

import { Input, Textarea } from '@/components/forms';
import { SectionHeader } from '@/components/items';
---

<section class="bg-gray-lightest py-32">
	<div class="container mx-auto px-5">
		<div class="grid grid-cols-[55%,45%] rounded-lg bg-white px-14 py-24">
			<form method="post">
				<SectionHeader title="Kontaktiere uns" />

				<Input class="mt-16" id="name" name="name" type="text"><UserRound /> Name</Input>
				<Input id="email" name="email" type="text"><Mail /> E-Mail</Input>
				<Textarea id="message" name="message"><MessagesSquare /> Nachricht</Textarea>

				<button class="btn btn--primary mt-20 w-full" type="submit">Kontaktiere uns</button>
			</form>

			<div class="relative">
				<div
					class="bg-brand-secondary absolute right-0 top-0 grid h-80 w-80 place-content-center rounded-full"
				>
					IMAGE 1
				</div>
				<div
					class="bg-brand-secondary absolute right-[calc(70%-8rem)] top-1/2 grid h-52 w-52 place-content-center rounded-full"
				>
					IMAGE 2
				</div>
				<div
					class="bg-brand-secondary absolute bottom-0 right-[calc(25%-8rem)] grid h-52 w-52 place-content-center rounded-full"
				>
					IMAGE 3
				</div>
			</div>
		</div>
	</div>
</section>
