---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import { Facebook, Instagram, Youtube } from 'lucide-astro';

import CtaButton from '@/components/items/CtaButton.astro';
import SectionTitle from '@/components/items/SectionTitle.astro';
import yoga from '@/images/yoga-tsg-irlich.de.webp';

const socialMedia: { href: string; icon: any; label: string }[] = [
	{
		href: '#!',
		icon: Instagram,
		label: 'Instagram',
	},
	{
		href: '#!',
		icon: Facebook,
		label: 'Facebook',
	},
	{
		href: '#!',
		icon: Youtube,
		label: 'Youtube',
	},
];
---

<div class="mx-auto mt-[-160px] flex min-h-dvh max-w-screen-2xl items-center p-5 pt-[160px]">
	<div class="bg"></div>
	<div class="w-1/2">
		<SectionTitle subTitle="Mit Tradition und Leidenschaft seit 1882">
			TSG Irlich — Deine Turn- und Sportgemeinde in Neuwied / Irlich
		</SectionTitle>

		<p class="text-gray mt-8 pr-16 text-xl">
			Für Jedermann, der sich gerne bewegt und mit Menschen zusammen ist. Egal ob im Breitensport,
			beim gemütlichem Beisammensein oder dem Leistungsorientieren Sport. In über XX verschiedenen
			Sportarten bieten wir dir alles was du brauchst.
		</p>

		<div class="relative my-12">
			<CtaButton href="#!">Kontakt aufnehmen</CtaButton>
			<Icon
				aria-hidden="true"
				class="text-brand absolute -top-10 left-[35%] text-8xl"
				name="design/arrow-cta"
			/>
		</div>
	</div>

	<div class="ml-auto">
		<div class="bg-circle"></div>
		<div class="bg-balls"></div>
		<Image alt="Ein Frau, die am meditieren ist." class="design" src={yoga} />

		<div class="flex flex-col gap-10 text-white">
			{
				socialMedia.map(({ href, icon: Icon, label }) => (
					<a
						class="hover:text-brand-secondary z-[1] text-white"
						href={href}
						rel="noopener noreferrer"
						target="_blank"
					>
						<Icon aria-label={label} size="32" stroke-width="1" />
					</a>
				))
			}
		</div>
	</div>
</div>

<style>
	.bg {
		@apply bg-gray-lightest absolute inset-0 -z-[9999];
	}

	.bg-circle {
		@apply bg-brand absolute -bottom-[160px] -top-[160px] right-0 -z-[9998] w-[40%];
		/* cspell:disable-next-line */
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 1000 1500'%3E%3Cpath fill='currentColor' fill-rule='nonzero' d='M0 750.002c0 414.215 223.857 750.002 500 750.002h500V-.001H500C223.857 0 0 335.787 0 750.002Z'/%3E%3C/svg%3E%0A");
		mask-size: cover;
	}

	.bg-balls {
		@apply absolute -top-24 right-0 -z-[9997] h-3/4 w-1/3 bg-white/5;
		/* cspell:disable-next-line */
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 744 725'%3E%3Cg fill='currentColor'%3E%3Cpath d='M325 261c9-18 0-41 7-56 10-18 40-18 57-9 48 25 21 83-8 83-19 0-31 1-40 7-12 7-18 21-14 41 7 43 37 38 67 40 31 3 18 35 22 64 5 29 42 24 61 24 20 0 27 15 25 43-2 29 4 50 43 48 41-2 45 13 44 53-2 54 64 26 79 38 14 12 10 21 10 50s66 18 66 18v-71a48 48 0 1 1 0-83v-98a41 41 0 1 1 0-72V256a31 31 0 1 1 0-38V-27h-93a21 21 0 0 1-43 0H492a36 36 0 0 1-73 0h-92s3 24-14 36c-24 18-71-9-71 52 0 43 35 40 54 42 17 3 29 17 32 28 5 17 5 50-7 56-25 13-39-3-63 15-19 13-22 54 5 69 27 14 51 12 62-10Zm309 197a45 45 0 1 1-7 89 45 45 0 0 1 7-89Zm-87-89a44 44 0 1 1-7 89 44 44 0 0 1 7-89Zm87-78a35 35 0 1 1-5 69 35 35 0 0 1 5-69Zm-173-16a50 50 0 1 1-8 99 50 50 0 0 1 8-99Zm120-38a37 37 0 1 1-75 0 37 37 0 0 1 75 0Zm75-90a26 26 0 1 1-53 0 26 26 0 0 1 53 0Zm-84-86a31 31 0 1 1-61 0 31 31 0 0 1 61 0Zm-250 0a44 44 0 1 1 89 0 44 44 0 0 1-89 0Zm96 88a38 38 0 1 1 75 0 38 38 0 0 1-75 0Zm87 529a46 46 0 1 0 93 0 46 46 0 0 0-93 0Zm-88-93a46 46 0 1 0 93 0 46 46 0 0 0-93 0Zm-71-56a43 43 0 1 0 61-61 43 43 0 0 0-61 61ZM246 409a43 43 0 1 0 87 0 43 43 0 0 0-87 0Zm-71-60a39 39 0 1 0 55-55 39 39 0 0 0-55 55ZM80 233a35 35 0 1 0 70 0 35 35 0 0 0-70 0ZM78 59a37 37 0 1 0 73 0 37 37 0 0 0-73 0ZM0-27a29 29 0 1 0 58 0 29 29 0 0 0-58 0Zm9 194a29 29 0 1 0 41-41 29 29 0 0 0-41 41Zm81 245a25 25 0 1 0 49 0 25 25 0 0 0-49 0Zm78 86a33 33 0 1 0 66 0 33 33 0 0 0-66 0Zm108 119a33 33 0 1 0 25-61 33 33 0 0 0-25 61Zm64 60a35 35 0 1 0 69 0 35 35 0 0 0-69 0ZM159-27a42 42 0 1 0 84 0 42 42 0 0 0-84 0Z'/%3E%3Cpath d='M162 147a39 39 0 1 0 78 0 39 39 0 0 0-78 0Z'/%3E%3C/g%3E%3C/svg%3E");
		mask-size: cover;
	}

	.design {
		@apply absolute bottom-0 right-60 w-1/3;
	}
</style>
