---
import { AtSign } from 'lucide-astro';

import { SectionHeader } from '@/components/items';
---

<section class="bg-gray-lightest pt-32">
	<div
		class="bg relative z-[1] mx-auto -mb-16 max-w-screen-lg rounded-lg bg-white px-14 pb-12 pt-24"
	>
		<SectionHeader title="Bleib auf dem Laufenden und lass dich informieren" isCentered />

		<form
			class="mx-auto mt-16 flex max-w-screen-sm items-center justify-between gap-6 rounded-md bg-white px-6 pb-2 shadow-xl"
			method="post"
		>
			<label aria-label="E-Mail" class="text-brand" for="email"><AtSign /></label>
			<input
				class="flex-1 p-4 text-lg"
				id="email"
				name="email"
				placeholder="m.mustermann@example.com"
				type="email"
			/>
			<button class="btn btn--primary py-2" type="submit">Abonnieren</button>
		</form>
	</div>
</section>

<style>
	.bg::after {
		content: '';
		position: absolute;
		inset: 0;
		background-image: url('../../../icons/design/arrow-newsletter.svg');
		background-position: 95% 75%;
		background-repeat: no-repeat;
		background-size: 120px;
	}
</style>
