---
import { Crown, Gem, Rocket } from 'lucide-astro';

import { PriceTableCard } from '@/components/cards';
import { SectionHeader } from '@/components/items/';
import { getPriceTableSection } from '@/lib/sanity/queries/pages/home';

const { pricingAdult, pricingFamily, pricingYouth } = await getPriceTableSection();
---

<section class="bg-brand relative z-0 text-white">
	<div class="container mx-auto px-5 py-28">
		<SectionHeader
			descriptionClass="text-white"
			subTitle="Mitgliedsbeiträge"
			title="Der richtige Preis für Dich und Euch"
			isCentered
		>
			Lorem ipsum dolor sit amet consectetur. Adipiscing in eu tempus feugiat enim placerat. Cursus
			commodo lorem sit fringilla augue.
		</SectionHeader>

		<div class="mt-32 flex justify-center gap-12">
			<PriceTableCard {...pricingYouth}>
				<Rocket size="40" slot="icon" stroke="currentColor" stroke-width="1" />
			</PriceTableCard>

			<PriceTableCard {...pricingAdult} isHighlighted>
				<Gem size="40" slot="icon" stroke="currentColor" stroke-width="1" />
			</PriceTableCard>

			<PriceTableCard {...pricingFamily}>
				<Crown size="40" slot="icon" stroke="currentColor" stroke-width="1" />
			</PriceTableCard>
		</div>
	</div>
</section>

<style>
	section {
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-image: url('../../../icons/design/bg-silhouette-wandern.svg'),
				url('../../../icons/design/bg-silhouette-yoga-sitzen.svg');
			background-position:
				0% 20%,
				105% 95%;
			background-repeat: no-repeat;
			background-size: 400px, 500px;
			opacity: 0.15;
			z-index: -1;
		}
	}
</style>
