---
import { SectionHeader } from '@/components/items';
import { getTestimonialSection } from '@/lib/sanity/queries/pages/home';

import { TestimonialsGroup } from './testimonials';

const { subtitle, testimonials, title } = await getTestimonialSection();
---

<section class="bg-gray-lightest relative z-0">
	<div class="container mx-auto grid grid-cols-[40%,60%] px-5 py-32">
		<SectionHeader subTitle={subtitle} title={title} />
		<TestimonialsGroup testimonials={testimonials} />
	</div>
</section>

<style>
	section {
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-image: url('../../../icons/design/bg-design-bottom-left.svg');
			background-position: -5% 105%;
			background-repeat: no-repeat;
			background-size: 30%;
			opacity: 0.03;
			z-index: -1;
		}
	}
</style>
