---
import type { ComponentProps } from 'astro/types';

import ContactPersonItem from './ContactPersonItem.astro';

interface Props {
	contactPersons: ComponentProps<typeof ContactPersonItem>[];
}

const { contactPersons } = Astro.props;

const cpLength = contactPersons.length;
---

<div
	class:list={[
		'grid items-stretch gap-x-8 gap-y-20',
		{ 'grid-cols-3': cpLength % 3 === 0 },
		{ 'grid-cols-2': cpLength % 3 !== 0 && cpLength % 2 === 0 },
		{ 'grid-cols-1': cpLength % 3 !== 0 && cpLength % 2 !== 0 && cpLength % 1 === 0 },
	]}
>
	{contactPersons.map(props => <ContactPersonItem {...props} />)}
</div>
