---
import { ArrowRight, Calendar, CircleHelp, Dumbbell, GraduationCap, House } from 'lucide-astro';

interface Props {
	icon: string;
	intro: string;
	title: string;
}

const { icon, intro, title } = Astro.props;
---

<a
	class="hover:bg-brand group flex justify-between rounded-xl bg-white p-8 shadow-lg hover:text-white"
	href="#!"
>
	<div class="w-3/4">
		{
			icon === 'Dumbbell' ? (
				<Dumbbell aria-hidden="true" size="60" stroke-width="1" />
			) : icon === 'Calendar' ? (
				<Calendar aria-hidden="true" size="60" stroke-width="1" />
			) : icon === 'GraduationCap' ? (
				<GraduationCap aria-hidden="true" size="60" stroke-width="1" />
			) : icon === 'House' ? (
				<House aria-hidden="true" size="60" stroke-width="1" />
			) : (
				<CircleHelp aria-hidden="true" size="60" stroke-width="1" />
			)
		}
		<h3 class="mt-4 text-3xl uppercase">{title}</h3>
		<p class="mt-2 text-xl group-hover:text-white">{intro}</p>
	</div>

	<div class="group-hover:bg-brand-light ml-4 self-center rounded-full p-1.5">
		<ArrowRight aria-hidden="true" class="text-white" size="32" stroke-width="2" />
	</div>
</a>
