---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'textarea'> {
	class?: string;
}

const { class: className, name, ...props } = Astro.props;
---

<div class:list={['mt-10 flex flex-col gap-4', className]}>
	<label class="text-gray flex items-center gap-2 text-2xl" for={name}><slot /></label>
	<textarea class="w-full border-b-2 text-2xl" name={name} {...props}></textarea>
</div>
