---
import { Mail, Phone } from 'lucide-astro';

type Props =
	| {
			email?: never;
			phone?: string;
	  }
	| {
			email?: string;
			phone?: never;
	  };

const { email, phone } = Astro.props;
---

{
	email && (
		<a aria-label="E-Mail" class="hover:text-brand-secondary text-current" href={`mailto:${email}`}>
			<Mail aria-hidden="true" />
		</a>
	)
}
{
	phone && (
		<a aria-label="Telefon" class="hover:text-brand-secondary text-current" href={`tel:${phone}`}>
			<Phone aria-hidden="true" />
		</a>
	)
}
