---
import Features from '@/components/page-sections/home/Features.astro';
import Hero from '@/components/page-sections/home/Hero.astro';
import Vision from '@/components/page-sections/home/Vision.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="TSG --> Welcome to Astro.">
	<Hero />
	<Features />
	<Vision />
	<div class="bg-gray-light h-96"></div>
</BaseLayout>
