---
import Hero from '@/components/page-sections/home/hero.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="TSG --> Welcome to Astro.">
	<Hero />

	<div class="bg-gray-light z-10 grid h-80 place-content-center text-4xl">CONTENT HERE</div>
</BaseLayout>
