---
import {
	Counter,
	Features,
	Groups,
	Hero,
	PriceTable,
	Vision,
} from '@/components/page-sections/home';
import { BaseLayout } from '@/layouts';
---

<BaseLayout title="TSG --> Welcome to Astro.">
	<Hero />
	<Features />
	<Vision />
	<Groups />
	<Counter />
	<PriceTable />
	<div class="bg-gray-lightest h-96"></div>
</BaseLayout>
