name: Check

on:
  pull_request:
  push:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0
          filter: blob:none

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install NI
        run: bun install -g @antfu/ni

      - name: Install Dependencies
        run: nci

      - name: Lint files
        run: nr lint:affected

      - name: Build files
        run: nr build:affected
        env:
          NEXT_PUBLIC_SANITY_DATASET: ${{ secrets.SANITY_DATASET }}
          NEXT_PUBLIC_SANITY_PROJECT_ID: ${{ secrets.SANITY_PROJECT_ID }}
          SANITY_STUDIO_DATASET: ${{ secrets.SANITY_DATASET }}
          SANITY_STUDIO_PROJECT_ID: ${{ secrets.SANITY_PROJECT_ID }}
